table {
    border-collapse: collapse;
}
td, th {
    padding: 20px;
    text-align: center;
}
th {
    background-color: rgba(22, 115, 168, 0.86) ;
    color: #eee;
    border-bottom: 2px solid darkolivegreen;
}

td {
    border-left: 1px solid darkolivegreen;

}
td:last-child {
    border-left: none;
    border-right: 1px solid darkolivegreen;
}

tr {
    border-bottom: 1px solid darkolivegreen;
}
tr:nth-child(even) {
    background-color: lightblue;
}
tr:nth-child(odd) {
    background-color: rgba(65, 105, 225, 0.08);
}
.button-edit {
    display: inline-block;
    background-image: url(edit.png) ;
    background-size: cover;
    border: none;
    height: 100%;
}